.step-image{
    border-radius: 0px 20%;
    width: 80%; 
    height: 70%;
    object-fit: cover;
    margin: auto;
}

.service-header{
    position: absolute;
    color: #292f36;
    font-family: "DM Serif Display";
    font-size: 50px;
    line-height: 1.6;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);
    width: 500px;
    min-width: 500px;
    background-color: #fff;
    border-radius: 37px 37px 0 0;
    padding: 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.how-we-work{
    background-color: #f4f0ec;
    border-radius: 25px;
    margin-top: 50px  !important
}

.title{
    text-align: center;
    color: #292f36;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: "DM Serif Display";
    font-size: 50px;
    font-weight: 400;
    line-height: 1.5;
    padding-top: 80px;
}

.description{
    text-align: center;
    color: #4d5053;
    letter-spacing: .01em;
    font-family: "Jost";
    font-size: 22px;
    line-height: 1.5;
    margin: 20px 100px;
    border-radius: 25px;
    padding-top: 30px;
}

.step_number{
    color:#fff;
    font-family: "DM Serif Display";
    font-size: 80px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    height: 80%;
}

.step_name{
    color: #292f36;
    font-family: "DM Serif Display";
    font-size: 40px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    margin-top: 30px;
}

.step_svg{
    padding: 20px 0px;
    height:120px;
}



.step_desc{
    color: #292f36;
    font-family: "Jost";
    font-size: 22px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 30px;
}

.step_list_item{
    font-family: "Jost";
    font-size: 19px;
    line-height: 1.5;
}


@media(max-width: 991px){
    .description{
        margin: 30px 20px;
        padding: 20px 10px; 
    }

    .step-image{
        display: none;
       
    }

    .step_name{
        display: flex;
        justify-content: center;
    }

    .step_list_item{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        padding: 0px 30px;
    }

}

@media(max-width: 768px){
    .service-header{
        font-size: 30px;
        width: 400px;
        min-width: 400px;
    }
}

@media(max-width: 500px){
    .service-header{
        font-size: 30px;
        width: 300px;
        min-width: 300px;
    }
}